.App {
  width: 90%;
  margin: auto;
}

.Header {
  text-align: center;
}

/* 'focus' will trigger when tapped or clicked */

#rock:focus {
  background-color: aqua;
}

#paper:focus {
  background-color: aqua;
}

#scissors:focus {
  background-color: aqua;
}